## Novas perguntar do CEO para você:

In [58]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

data = pd.read_csv('datasets/kc_house_data.csv')

ModuleNotFoundError: No module named 'geopy'

In [43]:
# 1. Qual a média do preço de compra dos imóveis por 'Nível?'
    # Nivel 0: Preço entre 0 e R$ 321.950
    # Nivel 1: Preço entre R$ 321.950 e R$ 450.000
    # Nivel 2: Preço entre R$ 450.000 e R$ 645.000
    # Nivel 3: Preço entre R$ Acima de R$ 645.000

# criar a coluna e colocar as condições
data['nivel'] = 'Standard'

data.loc[data['price'] < 321950, 'nivel'] = 'Nível 0'
data.loc[(data['price'] > 321951) & (data['price'] < 450000), 'nivel'] = 'Nível 1'
data.loc[(data['price'] > 450001) & (data['price'] < 645000), 'nivel'] = 'Nível 2'
data.loc[data['price'] > 645001, 'nivel'] = 'Nível 3'

# Pegar a média
#data[['nivel', 'price']].groupby('price').mean().reset_index()

data[['price','nivel']].groupby('nivel').mean().reset_index()

      nivel          price
0   Nível 0  251544.621507
1   Nível 1  383596.861006
2   Nível 2  538941.836769
3   Nível 3  987540.224456
4  Standard  486018.544601

In [56]:
# 2. Qual a média do tamanho da sala de estar dos imóveis por 'Size'?
    # Size 0 -> Tamanho entre 0 e 1427 sqft
    # Size 1 -> Tamanho entre 1427 e 1910 sqft
    # Size 2 -> Tamanho entre 1910 e 2550 sqft
    # Size 3 -> Tamanho acima de 2550 sqft
    
# fazer colunas e condições
data['size'] = 'standard'

data.loc[data['sqft_living'] < 1427, 'size'] = 'Size 0'
data.loc[(data['sqft_living'] > 1428) & (data['sqft_living'] < 1910), 'size'] = 'Size 1'
data.loc[(data['sqft_living'] > 1911) & (data['sqft_living'] < 2550), 'size'] = 'Size 2'
data.loc[data['sqft_living'] > 2551, 'size'] = 'Size 3'

data.head(10)
# fazer a media

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,nivel,size
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,Nível 0,Size 0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,Nível 2,Size 3
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,Nível 0,Size 0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,Nível 2,Size 2
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,Nível 2,Size 1
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,1530,2001,0,98053,47.6561,-122.005,4760,101930,Nível 3,Size 3
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,0,1995,0,98003,47.3097,-122.327,2238,6819,Nível 0,Size 1
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,0,1963,0,98198,47.4095,-122.315,1650,9711,Nível 0,Size 0
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,730,1960,0,98146,47.5123,-122.337,1780,8113,Nível 0,Size 1
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,0,2003,0,98038,47.3684,-122.031,2390,7570,Nível 1,Size 1

In [57]:
# 3. Adicione as seguintes informações ao conjunto de dados original:
    # Place ID: Identificação da localização
    # OSM Type: Open Street Map type
    # Country: Nome do País
    # Country Code: Código do País
    
data = pd.read_csv('datasets/kc_house_data.csv')

# Initialize Nomatim

In [ ]:
# 4. Adicione os seguinte filtros no Mapa:
    # Tamanho mínino da área da sala de estar
    # Número mínimo de banheiros
    # Valor Máximo do Preço
    # Tamanho máximo da área do porão
    # Filtro das Condições do Imóvel
    # Filtro por Ano de Construção

In [ ]:
# 5. Adicione os seguintes filtros no Dashboard:
    # Filtro por data disponível para compra
    # Filtro por ano de renovação
    # Filtro se possui vista para água ou não